@import '../Global.scss';

@mixin mobile {
    @media screen and (max-width: $mobile) {
      @content;
    }
  }

@mixin tablet {
    @media screen and (max-width: $tablet) {
        @content;
} 
}

  @mixin displayFlex($direction) {
    display: flex;
    flex-direction: $direction;
    justify-content: space-between;
  }
  

.prefooter{
    @include mobile {
        width: 90%;
        margin: 0 auto;
      }
    .prefooter-wrapper{
        @include displayFlex(row);
        @include mobile {
            @include displayFlex(column);
            padding: 0;
            width: 90%;
          }
          @include tablet {
            @include displayFlex(column);
            padding: 0;
            width: 90%;
          }
        width: 1494px;
        margin: 0 auto;
        padding: 100px;
        .left {
            @include mobile{
                width: 90%;
            }
            h1{
                font-size: $textXXL;
                font-weight: 300;
                line-height: 75px;
                letter-spacing: -0.6px;
                width: 630px;
                color: $darkGreen;
                @include mobile{
                   font-size: 3.1rem;
                    width: 90%;
                    line-height: 60px;
                }
            }
            .text{
                width: 456px;
                height: 93px;
                opacity: 0.9;
                font-size: $textSmall;
                line-height: 28px;
                margin: 50px 0;
                color: $darkGreen;
                @include mobile{
                    font-size: 1.1rem;
                     width: 90%;
                     height:auto;
                 }
            }
            .buttons {
                @include mobile{
                    @include displayFlex(row);
                    margin: 5px auto;
                    }
                .btn {
                    font-size: 1.2rem;
                    color: $white;
                    background-color: $orange;
                    width: 117px;
                    height: 50px;
                    border-radius: 16px;
                    border: none;
                    margin: 10px 5px ;
                    cursor: pointer;
                    @include mobile{
                       font-size: 0.8rem;
                       width: 80px;
                       height: 35px;
                       margin: 5px auto;
                    }
                }   
            }
        }
        .Profile{
            @include displayFlex(row);
            img {
                border-radius: 50%;
                width: 475px;
                height: 475px;
                @include mobile{
                     width: 80%;
                     height: auto;
                     
                 }
            }
        }
        .profile-name{
            line-height: 40px;
            font-weight: 400;
            font-size: $textLarge;
            color: $darkGreen;
            @include mobile{
                text-align: center;
            }
        }
        
    }
}