@import '../Global.scss';

.sign-content {
    margin: auto;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;  
    background-color: $white;

    .container {
        width: 60%;
        min-height: 70vh;
        margin: auto;
        background-color: #FFF6F2;
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;        
        .form-container {
            display: flex;
            flex-direction: column;
            width: 50%;
            margin-top: 5%;
            input{
                padding: 10px;
                border-radius: 40px;
                border: none;
                margin-bottom: 8%;
            }
            label{
                margin-bottom: 2%;
            }
            .form-buttons{
                display: flex;
                justify-content: center;
                a{
                    color: $orange;
                }
                .btn{
                    padding: 12px 30px;
                    border: none;
                    border-radius: 40px;
                    background-color: $orange;
                    color: $white;
                    font-weight: 600;
                }
            }
        }
    }
}
