@import '../Global.scss';

.profile{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    h1{
        font-weight: 500;
        margin-bottom: 1%;
    }
    .btn{
        color: $white;
        background-color: $orange;
        border: 0px;
        border-radius: 40px;
        padding: 8px 30px;
        cursor: pointer;
    }
    // Profile
    .profile-card{
        width: 50%;
        padding: 1%;

        .user{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 3%;
            background-color: $white;
            border-radius: 16px;
            
            label{
                padding: 3% 0px;
                font-size: $textSmall;
            }
        }
        
    }
    //Applications
    .applications-card{
        width: 100%;
        padding: 1%;

        .applications{
            width: 100%;
            padding: 3%;
            background-color: $white;
            border-radius: 16px;
            
            ul{
                list-style-type: none;
                padding: 0;
            }
            li{
                border: 1px solid $orange;
                border-radius: 40px;
                margin: 1%;
                padding: 10px 15px;
            }
            li:hover{
                background-color: $orange;
                color: $white;
                transition: 200ms;
            }
        }
    }
    //OpenPositions
    .show-position{
        width: 100%;
        padding: 1%;
        .position{
            display: flex;
            flex-direction: column;
            background-color: $white;
            border-radius: 16px;
            padding: 3%;
            ul{
                list-style-type: none;
                border: 1px solid $orange;
                border-radius: 30px;
                margin: 1%;
                padding: 15px 15px;
            }
            ul:hover{
                background-color: $orange;
                color: $white;
                transition: 200ms;
            }
        }
    }
    //CreatePosition
    .create-position-card{
        width: 50%;
        padding: 1%;
        .create-position{
            padding: 3%;
            background-color: $white;
            border-radius: 16px;
            form{
                display: flex;
                flex-direction: column;
                label{
                    font-weight: bold;
                }
                input{
                    margin: 2% 0px;
                    padding: 1%;
                    border: 1px solid $orange;
                    border-radius: 40px;
                }
                .btn{
                    color: $white;
                    background-color: $orange;
                    border: 0px;
                    border-radius: 40px;
                    padding: 8px 30px;
                }
            }
        }
    }
}